.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.google-image {
  width: 30%;
  margin-bottom: 40px;
}

.searches-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 14px;
  width: 50%;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 30px;
  padding-top: 8px;
  padding-left: 8px;
}

.search-input {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 14px;
  margin-bottom: 10px;
  outline: none;
  width: 95%;
  text-align: left;
}

.suggestions-container {
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
}
