.suggestion-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.suggestion-text {
  color: #475569;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
}

.button {
  background-color: transparent;
  border: none;
}

.arrow {
  height: 14px;
  width: 14px;
}
